// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  &__bg {
    background-image: url(top-image.jpg);
    background-position: center;
    background-size: cover;

    &__cover {
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin: 0 auto;
    text-align: center;

    @include sp-layout {
      width: 80%;
    }

    img {
      @include sp-layout {
        width: 100%;
        max-width: 297px;
      }
    }

    p {
      margin-top: 30px;
      font-size: 20px;

      @include sp-layout {
        font-size: 16px;
      }
    }
  }

  &__search {
    text-align: center;
    margin-top: 100px;

    &__btn {
      width: 190px;
      height: 79px;
      background-color: $accent-color;
      border-radius: 43px;
      border: none;
      cursor: pointer;

      @include sp-layout {
        width: 50%;
        height: 50px;
      }

      a {
        text-decoration: none;
        color: $main-color;
        font-size: 20px;
        font-weight: bold;

        @include sp-layout {
          font-size: 16px;
        }
      }
    }
  }
}
