//新規投稿画面と編集画面
.p-post {
  padding-top: 80px;

  &__board {
    @include container-white;
    position: relative;

    &__content {
      & h2 {
        color: $accent-color;
        font-weight: $fw-bold;
        margin-bottom: 15px;

        @include sp-layout {
          display: none;
        }
      }

      &__items {
        & .field {
          margin-bottom: 20px;

          & > label {
            display: inline-block;
            font-weight: $fw-mid;
          }

          & > select,
          & > input,
          & > textarea {
            border: 1px solid #afafaf;
            border-radius: 5px;
            padding: 2px 5px;
            margin-top: 4px;
            cursor: pointer;
          }

          & > textarea {
            width: 100%;
            margin-bottom: 50px;
            position: relative;

            @include sp-layout {
              margin-bottom: 0;
            }
          }

          &__item {
            display: inline-block;
            margin-right: 25px;

            & > input {
              margin-right: 3px;
            }
          }
        }
      }
    }
  }

  &__mobileCover {
    display: none;
    z-index: 600;

    @include sp-layout {
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      height: 50px;
      width: 100%;
      background-color: $main-color;
      box-shadow: 0px 3px 6px #00000029;

      & > svg {
        color: $sub-text-color;
        height: 35px;
        width: 35px;
        position: fixed;
        top: 8.5px;
        left: 5vw;
      }
    }
  }
}
