//ログイン・新規登録・パスワード再設定画面
.p-form-board {
  width: 454px;
  margin: 0 auto;
  background-color: $main-color;
  border-radius: 10px;
  box-shadow: 0px 3px 6px $shadow-color;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include sp-layout {
    background-color: transparent;
    box-shadow: none;
    width: 100%;
  }

  &__contents {
    margin: 30px auto;

    & h2 {
      text-align: center;
      padding-bottom: 7px;
      font-weight: 400;
    }

    &__error {
      width: 366px;
      color: $error-color;
      margin-top: 5px;

      & h2 {
        font-size: 13px;
      }

      & ul {
        font-size: 13px;
        list-style-position: inside;
      }

      @include sp-layout {
        width: 100%;
      }
    }

    &__item {
      margin-top: 12px;

      &__text {
        width: 366px;
        height: 48px;
        line-height: 48px;
        padding-left: 8px;
        border: 1px solid $border-color;
        border-radius: 8px;

        @include sp-layout {
          background-color: $main-color;
          width: 100%;
        }
      }
    }

    &__links {
      text-align: center;
      & a {
        color: $sub-text-color;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        margin-bottom: 5px;
        &:hover,
        &:focus,
        &:visited {
          color: $sub-text-color;
        }
      }
    }

    @include sp-layout {
      width: 80%;
    }
  }
}

//ユーザー情報編集ページ

.p-registrations__edit {
  background-color: $background-color;
  padding-top: 90px;

  @include sp-layout {
    padding-top: 50px;
  }

  &__box {
    width: 490px;
    margin: 0 auto;
    background-color: $main-color;
    border-radius: 10px;
    box-shadow: 0px 3px 6px $shadow-color;

    @include sp-layout {
      width: 350px;
      background-color: $background-color;
      box-shadow: none;
    }

    a {
      text-decoration: none;
      color: $sub-text-color;
    }

    h2 {
      text-align: center;
      color: $accent-color;
      padding-top: 20px;
    }

    & .field {
      font-size: 17px;
      color: $text-color;
      font-weight: 300;
      width: 384px;
      margin: 12px auto;

      @include sp-layout {
        width: 302px;
        margin: 12px auto;
      }

      & .field-box {
        border: 1px solid #afafaf;
        width: 384px;
        height: 48px;
        border-radius: 8px;
      }

      & .field-box-half {
        border: 1px solid #afafaf;
        width: 189px;
        height: 48px;
        border-radius: 8px;
        text-align: center;
        padding-top: 7px;
      }

      & .field-box-img {
        visibility: hidden;
      }
    }

    & .sub-text {
      font-size: 17px;
      color: $sub-text-color;
      text-decoration: none;
      padding-bottom: 38px;
    }
  }
}
