// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.p-users {
  background-color: $background-color;
  padding-top: 82px;
  display: flex;
  justify-content: center;

  @include sp-layout {
    background-color: $background-color;
    padding: 82px 26px;
  }

  &__search {
    width: 199px;
    background-color: $main-color;
    margin-right: 13.5px;
    padding: 11px 13.5px;
    height: 700px;

    @include sp-layout {
      display: none;
    }

    &.open {
      display: block;
      width: 100%;
      background-color: $main-color;
      margin-right: 13.5px;
      padding: 11px 13.5px;
      height: 600px;
    }

    label {
      color: $text-color;
      font-size: 15px;
    }

    &__text {
      border: 0.5px solid #707070;
      border-radius: 5px;
      width: 167px;
      height: 28px;
    }
    &__number {
      width: 52px;
      height: 28px;
      border: 0.5px solid #707070;
      border-radius: 5px;
    }

    span {
      color: #718181;
      font-size: 14px;
    }

    ul {
      list-style: none;
      margin-bottom: 15px;

      li {
        display: inline-block;
        &:nth-child(odd) {
          margin-right: 10px;
        }
      }
    }

    p {
      margin-bottom: 16px;
    }
  }

  &__list {
    width: 802px;
    background-color: $main-color;
    padding: 15px;

    @include sp-layout {
      width: 100%;
    }
    &.close {
      display: none;
    }

    a {
      text-decoration: none;
    }

    &__item {
      list-style: none;
      border-bottom: 1px solid #718181;
      display: flex;
      padding: 22px;
      text-decoration: none;
      position: relative;

      @include sp-layout {
        display: block;
      }
    }

    &__img {
      width: 90px;
      height: 90px;
      margin-right: 18px;
      border-radius: 50%;

      @include sp-layout {
        width: 40px;
        height: 40px;
      }
    }

    &__name {
      color: $text-color;
      font-weight: bold;
      margin-bottom: 15px;
      font-size: 17px;

      @include sp-layout {
        position: absolute;
        top: 32px;
        left: 70px;
        font-size: 15px;
      }
    }

    &__profile {
      color: #718181;
      font-size: 15px;
      margin-bottom: 15px;

      @include sp-layout {
        font-size: 13px;
      }
    }
    &__comment {
      color: $text-color;
      font-size: 16px;

      @include sp-layout {
        font-size: 13px;
      }
    }
  }
}
