// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.p-users {
  background-color: $background-color;
  padding-top: 82px;
  display: flex;
  justify-content: center;

  @include sp-layout {
    background-color: $background-color;
    padding: 82px 26px;
  }

  &__follow {
    padding-top: 82px;
    background-color: $background-color;

    &__list {
      width: 1029px;
      margin: 0 auto;
      background-color: $main-color;
      padding: 14.5px;

      &__tab {
        display: flex;
        border-bottom: 1px solid #718181;
        text-decoration: none;

        &__color {
          color: $accent-color;
          font-weight: $fw-bold;
          border-bottom: $accent-color 8px solid;
        }

        p {
          width: 500px;
          text-align: center;
          height: 74px;
          padding: 25px 0;
          font-size: 17px;

          a {
            color: #707070;
            font-weight: $fw-bold;
          }
        }
      }
    }

    a {
      text-decoration: none;
    }

    &__item {
      list-style: none;
      border-bottom: 1px solid #718181;
      display: flex;
      padding: 22px;
      text-decoration: none;
      position: relative;

      @include sp-layout {
        display: block;
      }
    }
  }

  &__search {
    width: 199px;
    background-color: $main-color;
    margin-right: 13.5px;
    padding: 11px 13.5px;
    height: 700px;

    @include sp-layout {
      display: none;
    }

    &.open {
      display: block;
      width: 100%;
      background-color: $main-color;
      margin-right: 13.5px;
      padding: 11px 13.5px;
      height: 600px;
    }

    label {
      color: $text-color;
      font-size: 15px;
    }

    &__text {
      border: 0.5px solid #707070;
      border-radius: 5px;
      width: 167px;
      height: 28px;
    }
    &__number {
      width: 52px;
      height: 28px;
      border: 0.5px solid #707070;
      border-radius: 5px;
    }

    span {
      color: #718181;
      font-size: 14px;
    }

    ul {
      list-style: none;
      margin-bottom: 15px;

      li {
        display: inline-block;
        &:nth-child(odd) {
          margin-right: 10px;
        }
      }
    }

    p {
      margin-bottom: 16px;
    }
  }

  &__list {
    width: 802px;
    background-color: $main-color;
    padding: 15px;

    @include sp-layout {
      width: 100%;
    }
    &.close {
      display: none;
    }

    a {
      text-decoration: none;
    }

    &__item {
      list-style: none;
      border-bottom: 1px solid #718181;
      display: flex;
      padding: 22px;
      text-decoration: none;
      position: relative;

      @include sp-layout {
        display: block;
      }
    }
  }
}
