//ブラウザの初期スタイルをリセット
* {
  margin:0;
  padding:0;
}

header {
  background-color: rgba(0,0,0,0);
  position: fixed;
  width: 100%;
  .header-container{
    color:#404040;
    font-size: 25px;
    height: 83px;
    padding-top: 25.5px;
    box-sizing: border-box;
    .logo{
      display: inline-block;
      margin-left: 53px;
    }
    .header-items{
      margin-right: 53px;
      float: right;
      .header-item{
        margin-left: 30px;
        height: 100%;
        &:hover, &:link, &:visited, &:active { 
          color: #404040;
          text-decoration: none;
        }
      }
    }
    nav{
      display: none;
    }
    .humberger-menu{
      display: none;
    }
  }
}


//スマホ向けレイアウト
@media screen and (max-width: 576px){
  header {
    .menu-open{
      background-color: rgba(64,64,64,1);
      height: 100vh;
      width: 100vw;
    }
    .header-container{
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 83px;
      text-align: center;
      .logo{
        width: 100%;
        margin: 0;
        padding-top: 25.5px;
      }
      .header-items{
        display: none;
      }
      nav{
        visibility: hidden;
        margin: 0;
        padding-top: 167px;
        display: flex;
        flex-direction: column;
        .nav-item{
          margin: 0;
          margin-bottom: 55px;
          &:hover, &:link, &:visited, &:active { 
            color: #F0E0E0;
            text-decoration: none;
          }
        }
        .close-btn{
          display: inline-block;
          color: #F0E0E0;
          margin-top: 190px;
        }
      }
    }

    //ハンバーガーメニュー
    .humberger-menu{
      display: block;
      position: fixed;
      top: 30px;
      right: 19.5px;
      width: 35px;
      height: 25px;
      background-color: rgba(0,0,0,0);
      display: flex;
      flex-direction: column;
      span{
        visibility: visible;
        height: 2px;
        width: 100%;
        border-radius: 4px;
        background-color: #404040;
        position: absolute;
        transition: 0.5s;
      }
      span:nth-child(1){
        top: 0px;
      }
      span:nth-child(2){
        top: 11px;
      }
      span:nth-child(3){
        top: 22px;
      }

      span:nth-child(1).toggle{
        transform: translateY(11px) rotate(-45deg);
      }
      span:nth-child(2).toggle{
        opacity: 0;
      }
      span:nth-child(3).toggle{
        transform: translateY(-11px) rotate(45deg);
      }
    }
  }
}