//ブラウザの初期スタイルをリセット
* {
  margin:0;
  padding:0;
}

header {
  background-color: rgba(0,0,0,0);
  position: fixed;
  width: 100%;
  
  .header-container{
    color:#404040;
    font-size: 25px;
    height: 83px;
    margin-left: 53px;
    position: relative;
    
    .logo{
      position: absolute;
      bottom: 24.5px;
    }
    
    .header-items{
      position: absolute;
      right: 53px;
      bottom: 24.5px;

      .header-item{
        margin-left: 30px;
        &:hover, &:link, &:visited, &:active { 
          color: #404040;
          text-decoration: none;
        }
      }
    }
  }
}