@mixin btn-form {
  text-align: center;
  background-color: $cGreen;
  color: $cWhite;
}

@mixin form-input {
  width: 366px;
  height: 48px;
  line-height: 48px;
  border: 1px solid #afafaf;
  border-radius: 8px;
}
