<h3>フォロー中</h3>
<ul>  
  <% if @followings.count != 0 %>
    <% @followings.each do |following| %>
      <li><%= link_to following.name, user_path(following.id) %></li>
    <% end %>
  <% else %>
    <p>まだフォロー中のユーザーがいません</p>
  <% end %>
  <%= link_to "フォロワー", user_follower_path(@user.id) %>
  <%= link_to "マイページに戻る", user_path(@user.id)%>
</ul>