<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% @users.each do |user| %>
  <%# ユーザー名 %>
  <%= user.name %>
  <%# 年齢 %>
  <%# エンジニア歴 %>
  <%# 雇用形態 %>
  <%# 婚姻歴 %>
  <%# 育児状況 %>
  <%# 介護状況 %>
  <%# コメント %>
<% end %>
