<article class="top">
<div class="top__bg">
<div class="top__bg__cover">
<div class="top__inner">
  <div class="top__title">
  <h1 class="top__siteTitle">サイト名</h1>
  <p>女性エンジニアのロールモデルが分かるサイト</p>
  </div>
  <div class="top__img">
  <img src="" alt="">
  </div>
  <% # ユーザー検索リンク %>
  <div class="top__search">
  <button class="top__search__btn"><%= link_to "ユーザー検索", users_path %></button>
  </div>
</div>
</div>
</div>
</article>