.l-header {
  position: relative;
  z-index: 500;

  &__content {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    display: block;
    height: $header-height-lg;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    box-shadow: 0px 3px 6px #00000029;

    @include sp-layout {
      display: none;
    }

    &__inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 20px;

      & .logo {
        display: flex;
        align-items: center;
        & > img {
          margin-left: 50px;
          width: 140px;
        }
      }

      &__nav {
        margin-right: 20px;

        &__item {
          display: inline-block;
          line-height: $header-height-lg;
          padding: 0 25px;
          color: $text-color;
          text-decoration: none;

          &:hover {
            background-color: $header-hover-color;
          }
        }
      }
    }
  }

  &__mobile {
    display: none;
  }
}

//タブレット用ヘッダー
@include tab-layout {
  .l-header {
    &__content {
      height: $header-height-sm;

      &__inner {
        &__nav {
          &__item {
            line-height: $header-height-sm;
          }
        }
      }
    }
  }
}

// モバイル用ヘッダー
@include sp-layout {
  .l-header {
    &__mobile {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      height: $header-height-sm;
      width: 100%;
      font-size: 20px;
      background-color: white;
      opacity: 0.9;
      box-shadow: 0px 3px 6px #00000029;

      & .logo {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $header-height-sm;
        & > img {
          width: 140px;
        }
      }

      &__nav {
        display: none;
      }

      &__btnMenu {
        background-color: rgba(0, 0, 0, 0);
        display: block;
        position: fixed;
        top: 12px;
        right: 13px;
        width: 31px;
        height: 27px;

        span {
          background-color: #404040;
          border-radius: 4px;
          transition: 0.5s;
          visibility: visible;
          height: 2px;
          width: 25px;
          position: absolute;
          left: 3px;

          &:nth-child(1) {
            top: 3px;
          }

          &:nth-child(2) {
            top: 3px;
            bottom: 3px;
            margin: auto;
          }

          &:nth-child(3) {
            bottom: 3px;
          }
        }
      }
    }
  }
}

//モバイル用メニューがオープンした時
.header-open {
  color: #f0e0e0;
  .l-header {
    &__mobile {
      opacity: 1;

      &__cover {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(64, 64, 64, 1);
      }

      &__nav {
        display: block;
        position: absolute;
        top: 15vh;
        left: 50%;
        transform: translateX(-50%);

        &__item,
        &__btnClose {
          display: block;
          height: 50px;
          width: 100px;
          text-align: center;
          line-height: 50px;
          text-decoration: none;
          color: #f0e0e0;

          &:hover {
            background-color: #f0e0e0;
            color: rgba(64, 64, 64, 1);
          }
        }

        &__item {
          margin-bottom: 50px;
        }

        &__btnClose {
          margin-top: 200px;
          cursor: pointer;
        }
      }

      &__btnMenu {
        span {
          background-color: #f0e0e0;
          &:nth-child(1) {
            transform: translateY(10px) rotate(-45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: translateY(-9px) rotate(45deg);
          }
        }
      }
    }
  }
}
