//トップページ検索ボタン
.c-button__search {
  background-color: $accent-color;
  width: 175px;
  height: 36px;
  border-radius: 22px;
  color: $main-color;
}

//フォロー中ボタン
.c-button__green {
  background-color: $accent-color;
  width: 152px;
  height: 36px;
  border-radius: 22px;
  color: $main-color;
  padding: 5px 35px;
  position: absolute;
  top: 22px;
  right: 0;

  @include sp-layout {
    width: 125px;
    height: 32px;
    font-size: 13px;
    padding: 5px 20px;
    text-align: center;
  }
}
//フォローするボタン
.c-button__white {
  background-color: $main-color;
  width: 152px;
  height: 36px;
  border-radius: 22px;
  border: 2px solid $accent-color;
  color: $accent-color;
  padding: 5px 25px;
  position: absolute;
  top: 22px;
  right: 0;

  @include sp-layout {
    width: 125px;
    height: 32px;
    font-size: 13px;
    padding: 5px 20px;
  }
}

//ページネーションボタン
.c-paginate__btn {
  width: 100%;
  margin: 50px auto;
  font-size: 17px;
  outline: none;

  a {
    text-decoration: none;
    color: $sub-text-color;
  }

  & .page {
    color: $sub-text-color;
    background-color: $text-color2;
    display: inline-block;
    width: 33px;
    margin: 0 5px;
    font-size: 17px;
    border: 2px solid $sub-text-color;

    &.current {
      background-color: $sub-text-color;
      color: $text-color2;
      display: inline-block;
      width: 33px;
      margin: 0 5px;
      border: 2px solid $sub-text-color;
    }
  }

  & .next {
    margin-right: 5px;
  }

  & .prev {
    margin-left: 5px;
  }
}

//sp版ユーザー検索ボタン
.c-button__users__search {
  display: none;

  @include sp-layout {
    display: inline-block;
    background-color: #e68989;
    color: white;
    height: 54px;
    width: 54px;
    border-radius: 70%;
    padding: 18px;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

//ログイン・新規登録・パスワード再設定画面のボタン
.c-btn-form {
  display: inline-block;
  width: 100%;
  height: 48px;
  margin: 36px 0 26px 0;
  background-color: $accent-color;
  color: $text-color2;
  text-align: center;
  line-height: 48px;
  border-radius: 8px;

  &:hover {
    background-color: $btn-hover-color;
  }
}

//ユーザー詳細ページ・マイページのボタン
.c-btn {
  //フォローボタンと、ユーザー情報編集ボタン
  &__follow,
  &__edit {
    @include btn;
    position: absolute;
    top: 33px;
    right: 5vw;
    background-color: $main-color;
    border: 2px solid $accent-color;
    line-height: 32px;

    @include sp-layout {
      top: 8px;
      line-height: 28px;
    }

    &:link,
    &:visited,
    &:active {
      color: $accent-color;
    }
    &:hover {
      color: $main-color;
      background-color: $accent-color;
    }
  }

  //フォロー中のボタン。ホバー時、「フォロー解除」ボタンになる。
  &__following {
    position: absolute;
    top: 33px;
    right: 5vw;

    @include sp-layout {
      top: 8px;
    }

    &--normal,
    &--hover {
      @include btn;
      background-color: $accent-color;
      color: $main-color;
      &:link,
      &:visited,
      &:active {
        color: $main-color;
      }
    }

    &--hover {
      display: none;
    }

    &:hover &--normal {
      display: none;
    }

    &:hover &--hover {
      display: inline-block;
      background-color: $caution-color;
    }
  }

  //経歴の新規追加ボタン
  &__addCareer {
    @include btn;
    position: absolute;
    top: 32px;
    right: 5vw;
    background-color: $accent-color;
    color: $main-color;

    &:hover {
      background-color: $btn-hover-color;
    }

    @include sp-layout {
      top: 8px;
    }
  }
}

.c-submit__btn {
  background-color: $accent-color;
  width: 384px;
  height: 48px;
  border-radius: 8px;
  color: $main-color;
  margin-bottom: 33px;

  &:hover {
    background-color: $btn-hover-color;
  }
}

//新規投稿・編集画面のボタン（PC）
.c-btn-post {
  @include btn;
  position: absolute;
  right: 5vw;
  bottom: 33px;
  color: $main-color;
  background-color: $accent-color;
  width: 175px;

  &:hover {
    background-color: $btn-hover-color;
  }

  &__mobile {
    display: none;
  }
}

//新規投稿・編集画面のボタン（Mobile）
@include sp-layout {
  .c-btn-post {
    display: none;

    &__mobile {
      display: block;
      @include btn;
      color: $main-color;
      background-color: $accent-color;
      position: fixed;
      top: 8.5px;
      right: 5vw;
    }
  }
}

//新規投稿・編集画面の戻るボタン（Mobile）
.c-btn__back {
  display: block;
  background-color: transparent;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  top: 1px;
  left: 5vw;
}
