.c-button__search {
  background-color: $accent-color;
  width: 175px;
  height: 36px;
  border-radius: 22px;
  color: $main-color;
}
.c-button__green {
  background-color: $accent-color;
  width: 152px;
  height: 36px;
  border-radius: 22px;
  color: $main-color;
  padding: 5px 35px;
  position: absolute;
  top: 22px;
  right: 0;
}

.c-button__white {
  background-color: $main-color;
  width: 152px;
  height: 36px;
  border-radius: 22px;
  border: 2px solid $accent-color;
  color: $accent-color;
  padding: 5px 25px;
  position: absolute;
  top: 22px;
  right: 0;
}
