// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  &__bg {
    background-image: url(top-image.jpg);
    background-position: center;
    background-size: cover;

    &__cover {
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__inner {
    padding: 0 171px;

    @include tab-layout {
      padding: 0 82px;
    }

    @include sp-layout {
      padding: 0 50px;
    }
  }

  &__title {
    padding-top: 130px;
    margin-bottom: 76px;

    @include tab-layout {
      text-align: center;
      margin-bottom: 50px;
    }

    @include sp-layout {
      padding-top: 100px;
      text-align: center;
      margin-bottom: 50px;
    }

    p {
      font-size: 20px;

      @include sp-layout {
        font-size: 16px;
      }
    }
  }

  &__siteTitle {
    font-size: 75px;
    color: #404040;

    @include sp-layout {
      font-size: 50px;
    }
  }

  &__img {
    height: 452px;
    margin-bottom: 100px;
    border: 1px solid #707070;

    @include tab-layout {
      margin-bottom: 50px;
    }

    @include sp-layout {
      margin-bottom: 50px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__search {
    text-align: center;
    padding-bottom: 100px;

    @include tab-layout {
      padding-bottom: 50px;
    }

    &__btn {
      width: 190px;
      height: 79px;
      background-color: #80a0a0;
      border-radius: 43px;
      border: none;
      cursor: pointer;

      @include sp-layout {
        width: 120px;
        height: 50px;
      }

      a {
        text-decoration: none;
        color: #000000;
        font-size: 20px;
        font-weight: bold;

        @include sp-layout {
          font-size: 16px;
        }
      }
    }
  }
}
