$bg-color: #f5f7f8;
$cWhite: #ffffff;
$cGreen: #60b8b8;
$cMoss: #718181;
$cError: red;

.bg {
  width: 100vw;
  height: 100vh;
  background-color: $bg-color;
  padding-top: 92px;
}

.board {
  background-color: $cWhite;
  width: 454px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000066;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include sp-layout {
    background-color: transparent;
    box-shadow: none;
    width: 100%;
  }
}

.form-error-message {
  width: 366px;
  color: $cError;
  margin-top: 5px;

  h2 {
    font-size: 13px;
  }

  ul {
    font-size: 13px;
    list-style-position: inside;
  }
}

.form-contents {
  h2 {
    text-align: center;
    padding-bottom: 7px;
    font-weight: 400;
  }

  @include sp-layout {
    width: 80%;
  }
}

.action {
  width: 366px;

  @include sp-layout {
    width: 100%;
  }
}

.btn-form {
  display: inline-block;
  width: 100%;
  height: 48px;
  margin-top: 36px;
  margin-bottom: 26px;
  text-align: center;
  line-height: 48px;
  background-color: $cGreen;
  border-radius: 8px;
  color: $cWhite;
}

.form-input {
  @include form-input;
  @include sp-layout {
    background-color: $cWhite;
    width: 100%;
  }
}

.form-item {
  margin-top: 12px;
}

.form-contents {
  margin: 30px auto;
}

.form-links {
  text-align: center;
  & a {
    color: $cMoss;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
    &:hover,
    &:focus,
    &:visited {
      color: $cMoss;
    }
  }
}
